body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #d4e9e7;
}

header img {
    width: 100%;
}

.banner {
    position: relative;
}

h1 {
    position: absolute;
    color: white;
    top: 46%;
    left: 36%;
    font-size: 3.5rem;
}

nav ul {
    list-style: none;
    margin: 0 0;
}
nav ul li {
    display: inline-block;
    width:33%;   
}

nav ul a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
}

.border {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

.mainpart {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.25em;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 0.25em;
}

article img {
    width: 25%;
    float: left;
    margin-right: 1em;
}

section ul li {
    margin-left: -0.8em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.25em;
}

.contact-form {
    border: 1px solid black;
    padding: 1em;
}

textarea {
    width: 99%;
    height: 70px;
}
#fullname, #youremail {
    width: 99%;
    height: 25px;
}
form {
    line-height: 30px;
}

footer {
    text-align: right;
    padding: 2em;
}