/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------
          Custom Styles
-------------------------------- */
html {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  line-height: inherit;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/* LoVe HAte */
a,
a:link,
a:visited {
  color: inherit;
}

a:hover,
a:focus {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin: 0em 0.2em 0.2em 0em;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin: 14px;
}

h4 {
  font-size: 1rem;
}

p {
  margin: 0em 1em 1em 0em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
nav {
  background-color: #222;
  padding: 1em;
}

.logo {
  background-color: #c78c06;
}

.nav-list li {
  color:#c78c06;
  text-align: center;
}

/* LoVe HAte */  
.nav-list a,
.nav-list a:link,
.nav-list a:visited {
  display: block;
  padding: 1em 0;
  text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus {
  color: #222;
  background-color: #c78c06;
  display: block;
}

/*  Mobile App Section  */

nav input {
  width: 93%;
  height: 2.6em;
}

.im-magnifier {
  padding: 3px 0px;
}

nav button {
  margin-left: -5px;
  border-width: 1px;
  display: inline-block;
  vertical-align: middle;
  border-color: #c78c06;
  background-color: #222;
}
/* Closing the navigation */

.banner {
  height: 475px;
  background: url(../images/main-banner.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
.frame {
  background-color: rgba(0, 0, 0, 0.6);
  max-width:  1200px;
  height: 365px;
}  

.banner h1 {
  padding-left: 14px;
  padding-top: 0.5em;
  color: white;

}
h1+p {
  color: white;
  margin-left: 1em;
}

.orange {
  padding: 28px;
  background-color: #c78c06;
  color: black;
  font-size: 16px;
  text-decoration: none;
  margin-left: 14px;
}
/* Closing Navigation and Banner section */

#about-us {
  background-color: #ffe6ac;
  padding-bottom: 1em;
}
#about-us h2 {
  padding-left: 14px;
}
.about-us-jpg {
  width: 100%;
  padding: 1em;
}
/* Closing Our Services section */

.our-services,
.team,
.contact {
 margin: 2em 1em 1em 1em;
}

.digital-jpg,
.marketing-jpg,
.video-jpg,
.web-jpg,
.print-jpg,
.john-jpg,
.bob-jpg {
  width: 100%;
}

.digital,
.marketing,
.video,
.web,
.print,
.john,
.bob {
  background-color: #ffe6ac;
}

p {
  margin-left: 1em;
}

.bb {
  margin-left: 14px;
  margin-bottom: 14px;
  display: inline-block;
  background-color: #222;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
/* LoVe HAte */ 
.content a,
.content a:link,
.content a:visited {
  color: white;
}
.im-care-right {
padding: 12px;
}

.marketing,
.video,
.web,
.print,
.john,
.bob {
  margin-top: 1em;
}
/* Closing services part */

.vision {
  height: 250px;
  background: url(../images/vision.jpg) no-repeat center center;
  background-size: cover;
  color: white;
}
.vision h3 {
  padding-top: 1em;
}
.vision p{
  padding-bottom: 8px;
}
.dbb {
  margin-left: 14px;
  margin-bottom: 14px;
  background-color:rgb(21, 27, 53);
  text-align: center;
  padding: 28px;
  font-size: 18px;
  color:white;
  text-decoration: none;
  border: 1px solid #c78c06;
}
/* Closing our vision section */

.team p {
  padding-bottom: 2em;
  padding-left: 4px;
}
h4 {
  margin:-1.5em 1.2em 1em;
  border-bottom:2px solid #c78c06;
}
/* Closing our team section */

.contact h3 {
  margin-left: 0em;
}

#fullname,
#email {
  width: 100%;
  height: 28px;
  margin-bottom: 6px;
}

#message {
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
}
.message button {
  background-color: #222;
  color: #c78c06;
}
/* Styling a table */
table th:nth-child(n),
table td:nth-child(n) {
  border: 1px solid #000;
}
table {
  width: 100%;
  height:7em ;
}
th,
td {
  height:40px;
  vertical-align: middle;
}
th{
  background-color: #ffe6ac;
}
td {
  padding-left: 1em;
}
iframe {
  width: 100%;
  height: 400px;
}
/* Closing contact us & Body section*/

footer {
  background-color: #222;
  color: #c78c06;
  padding-top: 30px;
  padding-bottom: 1px;
}


/* -------------------------------
        Desktop Styles
---------------------------------- */
@media screen and (min-width: 760px) {
   /* Navigation */ 
.nav-list,
.main-nav {
  display: flex;
  align-items: center;
  flex: 1;
  border: none;
}
.nav-list li {
  flex: 1;
}
.logo {
  margin-left: 7%;
}
.search {
  margin-right: 7%;
}
nav input {
  width: 80%;
}
.frame {
  margin-left: 100px;
  margin-right: 100px;
  height: 380px;
}
.banner h1 {
  font-size: 66px;
}

#about-us {
  padding: 0px 86px 14px 86px;
  margin-bottom: 14px;
}
.about-us-jpg {
  width: 50%;
  float: left;
}
#about-us h2 {
  padding-top: 14px;
}

/* Our services */
.our-services {
  margin: 0 100px;
}
.osc {
  display: grid;
  column-gap: 1em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr); 
}
.digital {
  grid-column: 1/4;
  grid-row: 1/2;
  margin-top: 1em;
}
.marketing {
  grid-column: 4/7;
  grid-row: 1/2;
}
.video {
  grid-column: 1/3;
  grid-row: 2/3;
}
.web {
  grid-column: 3/5;
  grid-row: 2/3;
}
.print {
  grid-column: 5/7;
  grid-row: 2/3;
}

.bb {
  width: 92%;
}
/* Our Vision */
.vision {
  margin-top: 2em;
  padding-left: 86px;
  padding-right: 86px;
}
/* Our Team */
.team,
.contact,
footer p {
  padding-left: 86px;
  padding-right: 86px;
}
.john,
.bob {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.bob {
  margin: 0em;
} 
.bob-jpg {
  grid-column: 2/3;
  grid-row: 2/3;
} 
.bt {
  grid-column: 1/2;
  grid-row: 2/3;
}
/* Contact Us */
.cc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
}
.location {
  grid-column: 2/3;
  grid-row: 1/2; 
}
.hours {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-top: 2em;
}
}